* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;

  background-image:
    linear-gradient(#e8e8e8 1px, transparent 1px),
    linear-gradient(90deg, #e8e8e8 1px, transparent 1px);

  background-size: 40px 40px;
}